{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'checkout/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'checkout/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'checkout/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'checkout/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'checkout/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'checkout/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'checkout/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'checkout/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                      
                            <div class="breadcrumb__links">
                            <a href="/profiles/">Home</a>
                            <a href="/profiles/cart/">Cart</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="#" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="checkout__title">Billing Details</h6>
                            <div class="">
                                <div class="">
                                    <div class="checkout__input">
                                        <p>Username<span>*</span></p>
                                        <input type="text" name="txtUname" value="{{ user_profiles.user.username }}" readonly>
                                     <!--
                                           <input type="text" name="txtUname" value="" readonly>
                                     -->
                                    </div>
                                </div>
                            </div>
                          
                            <div class="checkout__input">
                                <p>City<span>*</span></p>
                                <input type="text" value="{{ user_profiles.city }}" readonly>
                            </div>
                            <div class="checkout__input">
                                <p>State<span>*</span></p>
                                <input type="text" value="{{user_profiles.city.state}}" readonly>
                            </div>
                            <div class="checkout__input">
                                <p>Amount<span>*</span></p>
                                <input type="Number" value="{{ total_price }}" readonly>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text" value="{{user_profiles.contact_number}}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" value="{{user_profiles.user.email}}" readonly>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="orders__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                {% for cart_item in carts %}
                                <ul class="checkout__total__products">
                                    <li data-imageid="{{ cart_item.ImageId.imageid }}">{{ cart_item.ImageId.title }} <span>INR {{ cart_item.ImageId.price }}</span></li>
                                </ul>
                            {% endfor %}
                            
                            
                            <!--   
                                <ul class="checkout__total__products">
                                    <li>01. Vanilla salted caramel <span>$ 300.0</span></li>
                                    <li>02. German chocolate <span>$ 170.0</span></li>
                                    <li>03. Sweet autumn <span>$ 170.0</span></li>
                                    <li>04. Cluten free mini dozen <span>$ 110.0</span></li>
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span>$750.99</span></li>
                                    <li>Total <span>$750.99</span></li>
                                </ul>
                            -->

                            <ul class="checkout__total__all">
                                <li>Subtotal <span>INR {{ total_price }}</span></li>
                                <li>Total <span>INR {{ total_price }}</span></li>
                            </ul>
                            <!--
                                <div class="checkout__input__checkbox">
                                    <label for="acc-or">
                                        Create an account?
                                        <input type="checkbox" id="acc-or">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Check Payment
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Paypal
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            -->
                                {% comment %} <button type="submit" class="btn btn-primary w-100 m-2">PLACE ORDER</button> {% endcomment %}
                                <button type="button" id="rzp-button1" class="btn btn-success w-100 m-2 paywithRazorPay">Pay with RazorPay</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
   
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <!-- Js Plugins -->
        <script>
            var checkoutData = {
                name: "{{ user_profiles.user.username }}",
                email: "{{ user_profiles.user.email }}",
                contact: "{{ user_profiles.contact_number }}"
            };
        </script>
    <script src="{% static 'checkout/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'checkout/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'checkout/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'checkout/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'checkout/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'checkout/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'checkout/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'checkout/js/mixitup.min.js' %}"></script>
    <script src="{% static 'checkout/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'checkout/js/main.js' %}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
</body>

</html>